@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html {
    transition: all 0.5 ease-in;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}