@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 2rem auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
}
.card {
    overflow: hidden;
    background: #fff;
    border-radius: .25rem;
    max-width: 380px;
    width: 380px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.05),
    0 5px 15px 0 rgba(0,0,0,0.05);
}

.card_details {
    padding: .5rem 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: none;
    line-height: 0.09;
}

p {
    line-height: 1.3rem;
}

.card_image {
    margin: 0;
    padding: 0;
    height: 200px;
    overflow: hidden;
}